header.header
    nav.nav
        .logo
            a(href='/') Primrose
        .menu
            button.mobile__nav__toggle(aria-controls='primary__navigation', aria-expanded='false')
            nav.mobile__nav 
                ul.primary__navigation
                    li: a(href='#') Link
                    a.nav__el(href='/login') Log in