doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Primrose 💐 | Shop fashion
        link(rel='stylesheet' href='/css/style.css')

    body
        // HEADER
        include _header

        // CONTENT
        block content 

        // FOOTER
        include _footer

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
        script(src='/js/login.js')








