@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
/* CSS IMPLEMENTATION GLOBAL VARIABLES */
* {
  letter-spacing: 0px;
  text-decoration: none;
  list-style: none;
  color: #1c1c1c;
}

h1 {
  font-size: 30px;
}
body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  border: none;
  color: #1c1c1c;
  padding: 0.5%;
  width: 35%;
}
#basic-nav-dropdown,
#admin-nav-dropdown {
  padding: 1% 1% 0 1%;
  color: #1c1c1c;
  font-size: 20px;
  margin: 0;
}

#logo-title img,
.prim-title img {
  width: 30px;
}

#return-shopping {
  color: #1c1c1c;
}
#product-price {
  font-size: 18px;
}
/* CSS IMPLEMENTATION GLOBAL VARIABLES */

/* SUBTITLES IMPLEMENTATION CSS */
.sub-title h1 {
  text-align: center;
  margin: 10vh 0 0 0;
  font-size: 30px;
}
@media screen and (max-width: 956px) {
  .sub-title h1 {
    margin: 5vh 0 0 0;
    font-size: 25px;
  }
}
/* SUBTITLES IMPLEMENTATION CSS */

/* HEADER IMPLEMENTATION CSS */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1% 1% 0 2%;
  transition: 0.5s;
  color: #1c1c1c;
  z-index: 99;
}
.header__title {
  font-family: 'Kalam', cursive, sans-serif;
}
.header__title > a {
  font-size: 25px;
  color: #1c1c1c;
}
.header__title > a > img {
  width: 26px;
  display: block;
  float: right;
  padding: 5% 0 0 0;
}
.header__account {
  display: flex;
  flex-direction: row;
  position: sticky;
  color: #1c1c1c;
}
.header__option {
  padding: 0 0 0 20px;
}
.link {
  font-size: 20px;
}
/* UNITED STATES */
.header__option h1 {
  padding: 0 15px 0 0;
  font-size: 20px;
  color: #1c1c1c;
}

@media screen and (max-width: 956px) {
  .header {
    padding: 3.5% 3.5% 0 5.5%;
  }

  .header__title > a {
    font-size: 20px;
  }
  .header__title > a > img {
    width: 15px;
    display: block;
    float: right;
    padding: 1% 0 0 0;
  }

  .header__option {
    padding: 0 0 0 15px;
  }
  /* UNITED STATES */
  .header__option h1 {
    padding: 0 15px 0 0;
    font-size: 26px;
    color: #1c1c1c;
  }
  .link {
    font-size: 16px;
  }
}
/* HEADER IMPLEMENTATION CSS */

/* STICKY IMPLEMENTATION IN CSS */
.nav {
  display: flex;
  position: sticky;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  top: 0;
  z-index: 99;
  padding: 1% 0;
}

.stickyLink {
  padding: 0 35px 0 0;
  font-size: 17px;
}
.nav__black {
  background-color: #ffff;
}
.bottomMenu {
  display: none;
  z-index: 1;
}

@media screen and (max-width: 956px) {
  .nav {
    height: 100%;
    padding: 2% 0;
  }
  .stickyLink {
    padding: 0 10.5px 0 0;
    font-size: 15px;
  }
  .nav__option {
    padding: 0 5% 2.5% 0;
    font-size: 16px;
  }
}
/* STICKY IMPLEMENTATION IN CSS */

/* HOME SCREEN IMPLEMENTATION CSS */
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
input:focus {
  outline: none !important;
  border-color: #f7fbff;
  box-shadow: 0 0 10px #f7fbff;
}
textarea:focus {
  outline: none !important;
  border-color: #f7fbff;
  box-shadow: 0 0 10px #f7fbff;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #ffff;
  color: #1c1c1c;
  border: 0.5px solid black;
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #ffff;
  color: #1c1c1c;
  transition: 0.5s ease-in-out;
  border: 0.5px solid black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.product {
  border: 0.5px solid;
  margin: 1rem;
}
.product-info {
  padding: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* SHIPPING NAVBAR IMPLEMENTATION CSS */
.shipping {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  top: 0;
  z-index: 99;
  background-color: #f3e0ee;
}
.shipping > .shipping__option > li > a {
  padding: 0;
  font-size: 14px;
  color: #1c1c1c;
  cursor: default;
}
.shipping > .shipping__option > li {
  list-style: none;
  text-decoration: none;
}
.shipping__black {
  background-color: #1c1c1c;
}
@media screen and (max-width: 956px) {
}
/* SHIPPING NAVBAR IMPLEMENTATION CSS */

/* SIDEBAR HOME IMPLEMENTATION CSS */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #1c1c1c;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
button.thumbnail {
  padding: 0;
}
/* SIDEBAR HOME IMPLEMENTATION CSS */

/* FOOTER IMPLEMENTATION CSS */
.footer {
  margin: 5%;
}
.footer__container {
  display: flex;
  justify-content: center;
  grid-gap: 10%;
}
.footer__option > h1 {
  padding: 0 0 15% 15%;
  font-size: 18px;
  color: #1c1c1c;
}
.footer__option > ul > li {
  padding: 0 0 2.5% 0;
  list-style: none;
}
.footer__option > ul > li > a {
  font-size: 15px;
  color: #1c1c1c;
  opacity: 0.75;
}
@media screen and (max-width: 956px) {
  .footer {
    margin: 1%;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0;
  }
  .footer__option > h1 {
    padding: 0 0 2.5% 5%;
    font-size: 17px;
  }
  .footer__option > ul > li {
    padding: 0 0 3% 0;
  }
  .footer__option > ul > li > a {
    font-size: 13px;
    opacity: 0.75;
  }
}
/* FOOTER IMPLEMENTATION CSS */

/* SIGNATURE COPYRIGHT IMPLEMENTATION CSS */
.signature {
  padding: 7.5% 0 0 0;
  text-align: center;
}
.signature > a {
  font-size: 15px;
  padding: 0 0 2.5% 0;
  color: #1c1c1c;
}
@media screen and (max-width: 956px) {
  .signature {
    padding: 7.5% 0 0 0;
  }
  .signature > a {
    font-size: 14px;
  }
}
/* SIGNATURE COPYRIGHT IMPLEMENTATION CSS */

/* CSS SEARCH SCREEN IMPLEMENTATION */
.card-individual {
  background-color: rgba(245, 245, 245);
  padding: 20%;
}
.product-show {
  text-align: center;
  font-size: 19px;
}
@media screen and (max-width: 956px) {
  .card-individual {
    background-color: rgba(245, 245, 245);
    padding: 5%;
  }
  .product-show {
    font-size: 16px;
  }
}
/* CSS SEARCH SCREEN IMPLEMENTATION */
