@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
* {
  letter-spacing: 1px;
}
body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#logo-title,
.prim-title {
  font-family: 'Kalam', cursive, sans-serif;
}
#return-shopping {
  color: #1c1c1c;
}
#product-price {
  font-size: 20px;
}
/* HOME SCREEN IMPLEMENTATION CSS */
.prim-title h1 {
  text-align: center;
  margin: 2.5% 0;
  font-size: 55px;
}
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f3e0ee;
  color: #1c1c1c;
  border: 0.5px solid black;
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #ffff;
  color: #1c1c1c;
  transition: 0.5s ease-in-out;
  border: 0.5px solid black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.product {
  border: 0.5px solid;
  margin: 1rem;
}
.product-info {
  padding: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
/* shipping navbar */
.shipping {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  top: 0;
  z-index: 99;
  background-color: #f3e0ee;
}
.shipping > .shipping__option > li > a {
  padding: 0;
  font-size: 14px;
  color: #1c1c1c;
  cursor: default;
}
.shipping > .shipping__option > li {
  list-style: none;
  text-decoration: none;
}
.shipping__black {
  background-color: #1c1c1c;
}
@media screen and (max-width: 956px) {
  .nav {
    display: none;
  }
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #1c1c1c;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
button.thumbnail {
  padding: 0;
}

/* footer */
.footer {
  margin: 5%;
}
.footer__container {
  display: flex;
  justify-content: center;
  grid-gap: 10%;
}
.footer__option > h1 {
  padding: 0 0 15% 15%;
  font-size: 18px;
  color: #1c1c1c;
}
.footer__option > ul > li {
  padding: 0 0 2.5% 0;
  list-style: none;
}
.footer__option > ul > li > a {
  font-size: 15px;
  color: #1c1c1c;
  opacity: 0.75;
}
@media screen and (max-width: 956px) {
  .footer {
    margin: 5%;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0;
  }
  .footer__option > h1 {
    padding: 0 0 2.5% 5%;
    font-size: 17px;
  }
  .footer__option > ul > li {
    padding: 0 0 3% 0;
  }
  .footer__option > ul > li > a {
    font-size: 13px;
    opacity: 0.75;
  }
}
.signature {
  padding: 7.5% 0 0 0;
}
.signature > p {
  font-size: 13px;
  text-align: center;
  color: #1c1c1c;
}
@media screen and (max-width: 956px) {
  .signature {
    padding: 7.5% 0 0 0;
  }
  .signature > p {
    font-size: 11px;
    text-align: center;
  }
}
